
body {
width: 100vw;
line-height: 1.5;
}

.coffee {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;

    h1 {
        margin-left: 0%;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    p {
        margin-bottom: 20px;
    }
}

.coffee-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
}

.coffee-selection-item {
    width: 45%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10%;
    background-color: #E8E8E8;

    h2 {
        background-color: #E8E8E8;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        border-bottom: 1px solid grey;
    }

    img {
        width: 100%;
        height: min-content;
        margin-left: 0;
    }

    p {
        background-color: #E8E8E8;
        margin-bottom: 0;
        height: 200px;
        padding: 2%;
        line-height: 1.5;
    }  

}

@media screen and (max-width: 1173px){
    .coffee-selection-item {
        width: 70%;
        margin-bottom: 50px;
        margin-left: 15%;
    }
}
