
body {
width: 100vw;
}

.coffee {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;

    h1 {
        margin-left: 0%;
    }
}

.coffee-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
}

.coffee-selection-item {
    width: 45%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20%;
    background-color: #E8E8E8;

    h2 {
        background-color: #E8E8E8;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        border-bottom: 1px solid grey;
    }

    img {
        width: 100%;
        margin-left: 0;
    }

    p {
        background-color: #E8E8E8;
        margin-bottom: 0;
        height: 150px;
        padding: 2%;
    }  
}

