footer {
  z-index: 0;
  width: 100%;
  height: 20rem;
  background-color: #4A4A4A;
  @include flex(row, center, center);
  .footer-text {
    width: 50%;
    height: 100%;
    margin-left: 0px;
    color: white;
    a {
      color: #4A76E8;
    }

    @include flex(column, space-around, center);
    ul {
      width: 50%;
      @include flex(row, space-between, center);
      padding-top: 15%;

      a {
        color: #4A76E8;
      }
    }
    .footer-text-info {
      @include flex(column, space-between, center);
      gap: 1rem;
    }
  }
}
