header {
  width: 100%;
  padding: 2rem 2rem;
  @include flex(row, center, center);
  background-color: #e8e8e8;

  section {
    @include flex(row, space-between, center);
    width: 100%;
    height: fit-content;
    padding-right: 10%;
    @media (width < 1028px) {
      @include flex(row, center, center);
      padding-right: 0%;
    }

    img {
      height: 10rem;
      width: 10rem;
      @media (width < 1028px) {
        height: 20%;
        width: 20%;
        display: none;
      }
    }
    ul {
      list-style-type: none;
      @include flex(row, space-around, center);
      gap: 3rem;
      @media (width < 1028px) {
        @include flex(column, space-around, center);
        gap: 1rem;
      }
      a {
        text-decoration: none;
        color: #737373;
        font-size: 20px;
      }

      a:hover {
        color: #383838;
      }
    }
  }
}
