@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  //height: 100vh;
  @include flex(column, space-around, center);
  main {
    @include flex(column, space-around, center);
    width: 100%;
    flex: 1;

    h1 {
      margin-left: 0%;
    }

    .home-hours {
      div {
        width: 100%;
      }
    }
    .home-title {

      div {
        width: 100%;
      }
      padding: 1rem 0rem;
      width: 80%;
      gap: 1rem;
      @include flex(column, space-evenly, start);
      img {
        width: 100%;
        height: auto;
        background-size: cover;
        margin-left: 0%;
      }
    }
    .home-info {
      width: 80%;
      padding: 1rem 1rem 1rem 0rem;
      @include flex(row, start, start);
      gap: 2rem;
      div {
        @include flex(column, space-around, start);
        gap: 0.5rem;
        margin-right: 5rem;
      }
    }

    .home-address {
      div {
        width: 100%;
      }
    }

    .home-book {
      div {
        width: 100%;
      }
    }
    .home-map {
      width: 80%;
      height: 30rem;
      flex: (row, center, center);
      z-index: 1;
      margin-bottom: -5%;
      padding-top: 3%;

      

      iframe {
        position: absolute;
        width: 80%;
        height: 30rem;
        border: 0;
        z-index: 2;
        
      }
      
    }
  }
}
