// * {
//   border: 1px solid red;
// }

section {
  width: 80%;
  @include flex(column, space-between, start);
  .top-section {
    @include flex(row, space-around, start);
    width: 100%;
    flex: 1;
    @media (width < 1028px) {
      @include flex(column, space-around, center);
    }
  }
  .bottom-section {
    @include flex(row, space-around, start);
    width: 100%;
    flex: 1;
    @media (width < 1028px) {
      @include flex(column, space-around, center);
    }
  }
}

.item-specialities {
  margin-top: 1rem;
}

.item {
  @include flex(row, space-between, center);
  padding: 0.5rem 0rem;
}

img {
  width: 80%;
  height: auto;
  margin-bottom: -1rem;
  z-index: 1;
  background-size: cover;
}

h1 {
  padding: 2rem;
}

h3 {
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.right-menu,
.left-menu {
  width: 30%;
  @media (width < 1028px) {
    width: 100%;
  }
}

.menu-section {
  padding: 1rem 0rem;
}

.bottom-section {
  .menu-section {
    width: 30%;
    @media (width < 1028px) {
      width: 100%;
    }
  }
}
