

body {
    width: 100vw;
}

h1 {
    margin-left: 10%;
}

section {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;

    h2 {
        margin-top: 0px;
    }
}

.menu-section {
    width: 45%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.item {
    display: flex;
    justify-content: space-between;
}

img {
    width: 80%;
    height: 650px;
    margin-left: 10%;
}

