* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 1px solid red;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex: 1;
}
body main .home-title {
  padding: 1rem 0rem;
  width: 80%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
body main .home-title img {
  width: 100%;
  height: auto;
  background-size: cover;
}
body main .home-info {
  width: 80%;
  padding: 1rem 1rem 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
body main .home-info div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 0.5rem;
  margin-right: 5rem;
}
body main .home-map {
  width: 80%;
  height: 30rem;
  flex: row, center, center;
}

header {
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}
header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: fit-content;
}
header section img {
  height: 10rem;
  width: 10rem;
}
header section ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

footer {
  width: 100%;
  height: 20rem;
  background-color: rgb(88, 103, 176);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .footer-text ul {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer-text .footer-text-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
body {
  width: 100vw;
}

h1 {
  margin-left: 10%;
}

section {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}
section h2 {
  margin-top: 0px;
}

.menu-section {
  width: 45%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.item {
  display: flex;
  justify-content: space-between;
}

img {
  width: 80%;
  height: 650px;
  margin-left: 10%;
}

body {
  width: 100vw;
}

.coffee {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}
.coffee h1 {
  margin-left: 0%;
}

.coffee-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-between;
}

.coffee-selection-item {
  width: 45%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20%;
  background-color: #E8E8E8;
}
.coffee-selection-item h2 {
  background-color: #E8E8E8;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid grey;
}
.coffee-selection-item img {
  width: 100%;
  margin-left: 0;
}
.coffee-selection-item p {
  background-color: #E8E8E8;
  margin-bottom: 0;
  height: 150px;
  padding: 2%;
}/*# sourceMappingURL=style.css.map */